@import '../../shared/Global.scss';

#projects{
    width: $XL-content-wth;
    margin: auto;

    .projects-content{
        margin: 0 auto 6rem auto;
        width: 60%;
    }

    .show-btn{
        display: flex;
        justify-content: center;
    }

    .highlight-projects{
        display: flex;
        margin-bottom: 4rem;
        img{
            width: 550px;
            height: 300px;
        }

        .project-content{
            text-align: right;
        }
    }

    .old-projects{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
        .project-card{
            width: 300px;
            height: 300px;
            margin: 1rem;
            padding: 1.5rem;
            .project-card-title{
                display: flex;
                justify-content: space-between;
            }
        }
        
    }

}

@media (max-width: 1300px){
    #projects{
        width:auto;
    }
}