@import '../../shared/Global.scss';
#about{
    width: $content-wth;
    margin: auto;
    .about-content{
        margin: 15rem auto 0 auto;
        width: 50%;
        p{
            color: $txtcolor;
            margin:0;
        }
        .skills-list{
            color: $gray;
            columns: 2;
            list-style: none;
            width: 50%;
            margin: 0 auto;
        }
    }
}

@media (max-width: 1300px){
    #about{
        width:auto;
    }
}