//colour
$dkblue:#272932;
$blue: #4D7EA8;
$liteBlue:#B6C2D9;
$gray:#828489;
$purple:#9E90A2;

$beige: #f4f7f4;
$glaucous: #5c80bc;
$independence: #4d5061;
$blackolive: #3d3b30;

$txtcolor: #a8b2d1;
$titlecolor: #ccd6f6;
//content-width
$content-wth: 1300px;

$font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
$font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;

.stop-scrolling{
    position: static;
    overflow-y: hidden;
}

html{
    background-color: $dkblue; //$beige
    font-family: $font-sans;
}

html, body{
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior:smooth;
    margin: 0;
    padding: 0;
}
#navbar{
    background-color: $dkblue;
}
footer{
    background-color: $dkblue;
}
//Github and Linked
.linkedin-link, .github-link,.live-link{
    color: $blue;
    
}
.linkedin-link:hover, .github-link:hover,.live-link:hover{
    color: $purple;
}

h1{
    font-size: 52px;
    margin: 0;
}

h2{
    font-size: 28px;
    margin: 0 0 3rem 0;
    color: $beige;
}

.title-num,.txt-highlight{
    color: $blue;
}

h3{
    font-size: 20px;
    margin: 0;
}

.sub-txt{
    font-size: 15px;
    color: white;
    text-align: right;
    margin: 0 auto 1.5rem auto;
    width: 82%;  
}

.sub-txt2{
    font-size: 25px;
    color: white;
    text-align: left;
    margin: 0 auto 0rem auto;
    width: 87%;  
}

.fontsans{
    font-family: $font-sans;
}

.fontmono{
    font-family: $font-mono;
}