@import '../../shared/Global.scss';

#contact{
    width: $content-wth;
    margin: 10rem auto 10rem auto;
    .contact-content{
        width: 50%;
        margin: 0 auto;
        text-align: center;

    }
}

@media (max-width: 1300px){
    #contact{
        width:auto;
    }
}