@import '../../shared/Global.scss';

#experience{
    width: $content-wth;
    margin: 10rem auto 0 auto;
    
    .experience-content{
        width: 70%;
        height: 400px;
        margin: 0 auto 6rem auto;
        .exp-title{
            padding-left: 80px;
        }
    }
    .exp-window{
        display: flex;
        .exp-nav{
            width: 25%;
            ol{
                margin: 0;
                padding: 0;
                margin-bottom: 1rem;
                list-style: none;
                li{
                    cursor: pointer;
                    color: white
                }
            }
        }
        .exp-content{
            width: 75%;
            margin-left: 2rem;
            .exp-role, .exp-date{
                color: #ccd6f6;
            }
            .exp-company{
                color: $glaucous
            }

            ol{
                list-style: disc;
                color: #a8b2d1;
            }
        }
    }
    
}

@media (max-width: 1300px){
    #experience{
        width:auto;
    }
}